<!-- 222---pagina principal-->

{%include 'Sitio/Cabezera.html'%} <!--traigame el archivo que esta en la carpeta... (cabezera)-->
 <!-- aca va a llevar todo el  sitio web 

el contenido de la app web-->
<!--esta parte del codigo va dentro del div container  --cuerpo de la pagina-->

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display">Bienvenido Usuario</h1>
        <p class="lead">Empezar con nuestro sitio web</p>
        <p class="lead">
            <a href="" class="btn btn-primary">Comenzar</a>
        </p>
    </div>

</div>

{%include 'Sitio/pie_depagina.html'%}


 
 
 
 
 
 
 
 
 
 
 
 
   