{%include 'Sitio/Cabezera.html'%}

<br><br>

<!-- card  bs5-card-defauld ---tarjeta-->

<div class ='row'> <!--row o fila-->
    <div class="col-3"> <!-- columnalo que me divide la pantalla en general son 12-->
         <div class="card">
            <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Python</h4>
                <p class="card-text"><a href="http://Python.org/Descarga.pdf" class=" btn btn-primary">Descargar</a></p>
            </div>
        </div>
    </div>
    <div class="col-3"> <!-- columnalo que me divide la pantalla en general son 12-->
        <div class="card">
           <img class="card-img-top" src="https://olcovers2.blob.core.windows.net/coverswp/2013/11/Programador-PHP-OpenLibra.jpg" alt="Title">
           <div class="card-body">
               <h4 class="card-title">Php</h4>
               <p class="card-text"><a href="http://PHP.org/Descarga.pdf" class=" btn btn-primary">Descargar</a></p>
           </div>
       </div>
   </div>
   <div class="col-3"> <!-- columnalo que me divide la pantalla en general son 12-->
    <div class="card">
       <img class="card-img-top" src="https://images.cdn1.buscalibre.com/fit-in/360x360/04/1e/041e2c81edfc1a18e248f964d7f128f3.jpg" alt="Title">
       <div class="card-body">
           <h4 class="card-title">Java</h4>
           <p class="card-text"><a href="http://Java.org/Descarga.pdf" class=" btn btn-primary">Descargar</a></p>
       </div>
   </div>
</div>
</div>
{%include 'Sitio/pie_depagina.html'%}